.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: palevioletred;

  min-height: 100vh;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  width: 450px;
  height: 150px;
  background-color: white;
}
.button {
  margin: 15px;
}
.input-element {
  width: 150px;
}
